numpy>=1.19.0,<1.24.0
pandas>=1.0.0
matplotlib>=3.4.0
scipy>=1.7.0
PyQt6>=6.2.0
tensorflow==2.15.0
keras==2.15.0
scikit-learn>=1.0.0
scikit-image>=0.18.0
numpy-stl>=2.16.0
pymeshlab>=2021.10
trimesh>=3.9.0
pyvista>=0.34.0
h5py>=3.1.0
joblib>=1.0.1
pillow>=8.0.0
openpyxl>=3.0.0
pooch>=1.5.0
ipykernel>=6.0.0
threadpoolctl>=2.0.0
#.\venv_py39\Scripts\activate aktivlash kodi
# python run.py  ishlatish kodi